@model IEnumerable<Project.Models.Menu>

<ul>
    @foreach (var i in Model)
    {
        @*<li><a asp-controller="@i.MenuController" asp-action="@i.MenuAction">@i.MenuName</a></li>*@
        <li><a href="/@i.MenuMeta">@i.MenuName</a></li>
    }
</ul>