@model IEnumerable<Project.Models.Comment>

<div class="anime__details__review">
    <div class="section-title">
        <h5>Reviews</h5>
    </div>

@foreach (var i in Model)
    {
    <div class="anime__review__item">
            <div class="anime__review__item__pic">
                <img src="../../img/anime/review-1.jpg" alt="">
            </div>
            <div class="anime__review__item__text">
                <h6>Chris Curry - <span>1 Hour ago</span></h6>
                <p>
                    @i.CommentText
                </p>
            </div>
        </div>
    }
</div>